@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  font-family: poppins;
  background: rgb(0,0,0);
  background: linear-gradient(200deg, rgba(0,0,0,1) 48%, rgba(0,126,20,1) 48%);  
  color: white;
}